{% comment %}
  TD - Swiper
  Import along with:
  assets/td-base.css
  assets/section-td-swiper.css
  assets/swiper-bundle.min.css
  assets/swiper-bundle.min.js
  assets/swiper-slider.js
  snippets/td-image.liquid

  Note: There are a bunch of icon snippets imported too, they come by default in Dawn.{% endcomment %}

{{ 'section-td-swiper.css' | asset_url | stylesheet_tag }}
{{ 'td-base.css' | asset_url | stylesheet_tag }}
{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}

<script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer></script>
<script src="{{ 'swiper-slider.js' | asset_url }}" defer></script>


{%- style -%}
  .section-{{ section.id }}{
    background-color: {{ section.settings.bg_color }};
    color: {{ section.settings.text_color }};
    --swiper-navigation-color: {{ section.settings.text_color }};
    --swiper-pagination-color: {{ section.settings.text_color }};
  }

 
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 990px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- assign autorotate_speed = section.settings.autorotate_speed | times: 1000 -%}
{%- capture sliderOptions -%}
  {
      "centeredSlides": true,
      "slidesPerView": 1.4,
      "spaceBetween": 10,{%- if section.settings.autorotate -%}
    "autoplay": {
          "delay":
    {{ autorotate_speed }}
    },
  {%- endif -%}
  {%- if section.settings.show_pagination != blank -%}
    "pagination": {
          "el": ".swiper-pagination",
          "clickable": true
        },{%- endif -%}
  {%- if section.settings.show_navigation_arrows != blank -%}
    "navigation": {
          "nextEl": ".swiper-button-next",
          "prevEl": ".swiper-button-prev"
        },{%- endif -%}
  "breakpoints": {
        "450": {
          "slidesPerView": "auto"
        }
      }
    }{%- endcapture -%}

<div class="section-{{ section.id }} td-swiper">
  <div class="section-{{ section.id }}-padding td-swiper__wrapper">
    <div class="td-text-{{ section.settings.content_alignment }} td-page-width {% unless section.settings.page_layout == 'normal' %} td-page-width-{{ section.settings.page_layout }}{% endunless %}">
      {% if section.settings.heading != blank or section.settings.sub-heading != blank %}
        <div class="td-swiper__header" style="rte color: {{ section.settings.text_color }}!important;">
          {% if section.settings.heading != blank %}
            <div class="td-swiper__heading">
              {{ section.settings.heading }}
            </div>
          {% endif %}
          {% if section.settings.sub-heading != false %}
            <div class="td-swiper__sub-heading">{{ section.settings.sub-heading }}
            </div>
          {% endif %}
        </div>
      {% endif %}
      <div class="td-swiper__container">
        {% if section.blocks.size > 0 %}
          <swiper-slider data-swiper-options='{{sliderOptions}}'>
            <div class="swiper  {% if section.settings.page_layout == 'full-width' %}td-mobile--no-margin{% endif %}" data-swiper>
              <div class="swiper-wrapper td-swiper-wrapper">
                {% for block in section.blocks %}
                  <div class="swiper-slide td-swiper__slide" data-swiper-slide>
                    <div class="td-swiper__card">
                      {% if block.settings.card_url != blank %}
                        <a href="{{block.settings.card_url.url}}" target="_blank" class="td-swiper__card__photo-wrapper td-media td-media--square">
                        
                      {% else %}
                        <div class="td-swiper__card__photo-wrapper td-media td-media--square">

                      {% endif %}

                        {% render 'td-image', object_image: block.settings.image %}
                        {% if section.settings.text_location == "inside_card"%}
                          <div class= "td-swiper__card_inside-container ">
                            {% if block.settings.secondary_image != blank %}
                              <a href="{{block.settings.card_linked-text-url}}" target="_blank">
                                <div class="td-media td-media--circle">
                                  {% render 'td-image', object_image: block.settings.secondary_image %}
                                </div>
                              </a>
                            {% endif %}
                            
                              <div class="td-swiper__card_text-container">
                                <h5>{{block.settings.card_text}}
                                </h5>
                                <a href="{{block.settings.card_linked-text-url}}" target="_blank">{{block.settings.card_linked-text}}
                                </a>
                              </div>                         
                            
                            {% if block.settings.social_icon != "" %}
                              <div class="td-swiper__icon td-media">
                                {% case block.settings.social_icon %}
                                  {% when 'instagram'%}
                                    {% render 'icon-instagram' %}
                                  {% when 'tiktok'%}
                                    {% render 'icon-tiktok' %}
                                  {% when 'facebook'%}
                                    {% render 'icon-facebook' %}
                                  {% when 'pinterest'%}
                                    {% render 'icon-pinterest' %}
                                  {% when 'twitter'%}
                                    {% render 'icon-twitter' %}
                                  {% when 'youtube'%}
                                    {% render 'icon-youtube' %}
                                  {% when 'tumblr'%}
                                    {% render 'icon-tumblr' %}
                                  {% when 'snapchat'%}
                                    {% render 'icon-snapchat' %}
                                {% endcase %}
                              </div>
                            {% endif %}
                          </div>
                        {% endif %}

                        {% if block.settings.card_url != blank %}
                          </a>
                        {% else %}
                          </div>  
                        {% endif %}

                      {% if section.settings.text_location == "under_card"%}
                      <div class= "td-swiper__card_lower-container">
                        {% if block.settings.secondary_image != blank %}
                          <a href="{{block.settings.card_linked-text-url}}" target="_blank">
                            <div class="td-media td-media--circle">
                              {% render 'td-image', object_image: block.settings.secondary_image %}
                            </div>
                          </a>
                        {% endif %}
                        
                          <div class="td-swiper__card_text-container">
                            <h5>{{block.settings.card_text}}
                            </h5>
                            <a href="{{block.settings.card_linked-text-url}}" target="_blank">{{block.settings.card_linked-text}}
                            </a>
                          </div>                         
                        
                        {% if block.settings.social_icon != "" %}
                          <div class="td-swiper__icon td-media">
                            {% case block.settings.social_icon %}
                              {% when 'instagram'%}
                                {% render 'icon-instagram' %}
                              {% when 'tiktok'%}
                                {% render 'icon-tiktok' %}
                              {% when 'facebook'%}
                                {% render 'icon-facebook' %}
                              {% when 'pinterest'%}
                                {% render 'icon-pinterest' %}
                              {% when 'twitter'%}
                                {% render 'icon-twitter' %}
                              {% when 'youtube'%}
                                {% render 'icon-youtube' %}
                              {% when 'tumblr'%}
                                {% render 'icon-tumblr' %}
                              {% when 'snapchat'%}
                                {% render 'icon-snapchat' %}
                            {% endcase %}
                          </div>
                        {% endif %}
                      </div>
                    {% endif %}
                    </div>
                    {% if block.settings.product != blank %}
                      <a class="td-swiper__card__product" href="{{ block.settings.product.url }}">
                        {{ block.settings.product.title }}
                      </a>
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
              {%- if section.settings.show_pagination != blank -%}
                <div class="swiper-pagination {% if section.settings.show_pagination != 'always' %}td-only-{{ section.settings.show_pagination }}{% endif %}"></div>
              {%- endif -%}
              {%- if section.settings.show_navigation_arrows != blank -%}
                <div class="swiper-button-prev {% if section.settings.show_navigation_arrows != 'always' %}td-only-{{ section.settings.show_navigation_arrows }}{% endif %}">
                  <span></span>
                </div>
                <div class="swiper-button-next {% if section.settings.show_navigation_arrows != 'always' %}td-only-{{ section.settings.show_navigation_arrows }}{% endif %}">
                  <span></span>
                </div>
              {%- endif -%}
            </div>
          </swiper-slider>
        {% endif %}
      </div>
      {%- if section.settings.button_link != blank and section.settings.button_label -%}
        <div class="td-swiper__btn-container">
          <a href="{{ section.settings.button_link }}" class="td-button td-mobile--full-width">{{ section.settings.button_label | escape }}
          </a>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "TD - Swiper",
    "settings": [
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "richtext",
        "id": "heading",
        "label": "Heading",
        "default": "<h1>This is a Heading</h1>"
      },
      {
        "type": "richtext",
        "id": "sub-heading",
        "label": "Sub-Heading",
        "default": "<p>This is a Sub-Heading</p>"
      },
      {
        "type": "header",
        "content": "Button"
      }, {
        "type": "text",
        "id": "button_label",
        "default": "Button",
        "label": "Button label"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }, {
        "type": "header",
        "content": "Slider"
      }, {
        "type": "select",
        "id": "show_pagination",
        "label": "Show pagination",
        "options": [
          {
            "value": "",
            "label": "Never"
          }, {
            "value": "mb",
            "label": "Only on mobile"
          }, {
            "value": "dsk",
            "label": "Only on desktop"
          }, {
            "value": "always",
            "label": "Always"
          }
        ],
        "default": "always"
      }, {
        "type": "select",
        "id": "show_navigation_arrows",
        "label": "Show navigation arrows",
        "options": [
          {
            "value": "",
            "label": "Never"
          }, {
            "value": "mb",
            "label": "Only on mobile"
          }, {
            "value": "dsk",
            "label": "Only on desktop"
          }, {
            "value": "always",
            "label": "Always"
          }
        ],
        "default": "dsk"
      }, {
        "type": "checkbox",
        "id": "autorotate",
        "label": "Auto-rotate slides",
        "default": false
      }, {
        "type": "range",
        "id": "autorotate_speed",
        "label": "Change slides every",
        "max": 9,
        "min": 3,
        "step": 2,
        "unit": " s",
        "default": 5
      }, {
        "type": "header",
        "content": "Layout"
      }, {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#000"
      }, {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": "#FFF"
      }, {
        "type": "select",
        "id": "page_layout",
        "label": "Layout",
        "default": "wide",
        "options": [
          {
            "value": "full-width",
            "label": "Full width"
          },
          {
            "value": "wide",
            "label": "Wide"
          },
          {
            "value": "normal",
            "label": "Normal"
          },
          {
            "value": "narrow",
            "label": "Narrow"
          }, {
            "value": "slim",
            "label": "Slim"
          }
        ]
      }, {
        "type": "select",
        "id": "content_alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Centered"
          }, {
            "value": "right",
            "label": "Right"
          }, {
            "value": "justify",
            "label": "Justified"
          }
        ],
        "default": "center",
        "label": "Heading Alignment"
      }, 
      {
        "type": "checkbox",
        "id": "show_lower_container",
        "label": "Show Lower Container"
      },
      {
        "type": "select",
        "id": "text_location",
        "label": "Text Location",
        "options": [
          {
            "value": "under_card",
            "label": "Under Card"
          },
          {
            "value": "inside_card",
            "label": "Inside Card"
          }
        ],
        "default": "under_card"
      },     
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 80
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 80
      }
    ],
    "blocks": [
      {
        "type": "card",
        "name": "Card",
        "settings": [
          {
            "type": "url",
            "id": "card_url",
            "label": "Card Link"
          },
          {
            "type": "richtext",
            "id": "card_text",
            "label": "Card Text",
            "default": "<p>Text on the card</p>"
          },
          {
            "type": "richtext",
            "id": "card_linked-text",
            "label": "Linked Text",
            "default": "<p>Linked card text</p>"
          },
          {
            "type": "url",
            "id": "card_linked-text-url",
            "label": "Linked Text URL"
          }, {
            "type": "image_picker",
            "id": "image",
            "label": "Main Image"
          }, {
            "type": "image_picker",
            "id": "secondary_image",
            "label": "Secondary Image"
          }, {
            "type": "product",
            "id": "product",
            "label": "Related product"
          }, {
            "type": "select",
            "id": "social_icon",
            "label": "Social media icon",
            "default": "",
            "options": [
              {
                "value": "",
                "label": "None"
              },
              {
                "value": "instagram",
                "label": "Instagram"
              },
              {
                "value": "tiktok",
                "label": "Tiktok"
              },
              {
                "value": "snapchat",
                "label": "Snapchat"
              }, {
                "value": "youtube",
                "label": "Youtube"
              }, {
                "value": "tumblr",
                "label": "Tumblr"
              }, {
                "value": "pinterest",
                "label": "Pinterest"
              }, {
                "value": "facebook",
                "label": "Facebook"
              }, {
                "value": "twitter",
                "label": "Twitter"
              }
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "TD - Swiper",
        "category": "Components"
      }
    ]
  }
{% endschema %}}