{{ 'td-tabs.css' | asset_url | stylesheet_tag }}
{{ 'td-tabs.js' | asset_url | script_tag }}

<div class="td-tabs__section-wrapper section-{{ section.id }}">
  <div class="td-tabs__section-title">
    {% if section.settings.td-tabs__section-title != blank %}     
      <h1>
        {{ section.settings.td-tabs__section-title }}
      </h1>
    {% endif %}
  </div>
  <td-tabs-element class="td-tabs__wrapper">
    {% for block in section.blocks %}    
      <div 
        class="td-tabs__tab-item" 
    >
        <div 
          data-tab-heading
          id="tab-heading-{{ forloop.index0 }}"
          class="td-tabs__tab-heading"
          {% if block.settings.tab-open == false %}
          aria-selected="false"
          {% endif %}
          aria-selected="true"
          aria-controls="tab-content-{{ forloop.index0 }}"
          role="heading"
          type="button"
          >
          {% if block.settings.td-tabs__tab-heading != blank %}            
            {{ block.settings.td-tabs__tab-heading}}
          {% endif %}
        </div>
        <div 
          data-tab-content
          id="tab-content-{{ forloop.index0 }}"
          class="td-tabs__tab-content"
          aria-labelledby="tab-heading-{{ forloop.index0 }}"
          {%- if block.settings.tab-open == false -%}
            hidden 
         {%- endif -%} 
         role="content"      
          >
          {% if block.settings.td-tabs__tab-content != blank%}
            {{ block.settings.td-tabs__tab-content}}
          {% endif %}
        </div>
      </div>
    {% endfor %}  
  </td-tabs-element>
</div>

{% schema %}
{
  "name": "Td-Custom Tabs",
  "class": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "td-tabs__section-title",
      "label": "Section Title"
    }
  ],
  "blocks": [
    {
      "type": "collapsible_row",
      "name": "Collapsible Content",
      "settings": [
        {
          "type": "richtext",
          "id": "td-tabs__tab-heading",
          "label": "Tab Heading"
        },
        {
          "type": "richtext",
          "id": "td-tabs__tab-content",
          "label": "Tab Content"
        },
        {
          "type": "checkbox",
          "id": "tab-open",
          "label": "Open by default",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Tab"
    }
  ]
}
{% endschema %}
